{% extends 'app_meter/base.html' %}

{% block content %}
<a href="/">To the list of all meters</a>
<div style="border:2px solid gray; margin:10px; padding:10px">
    <h4>Meter detail</h4>
    <p>Name {{meter.name}}</p>
    <p>Unit {{meter.unit}}</p>
    <p>Resource {{meter.resource}}</p>
    {% if readings %}
        <p>Last readings: {{readings.last.absolute_value}}</p>
        <p>Last readings date: {{readings.last.date}}</p>
    {% else %}
        <p>Last readings: No data</p>
        <p>Last readings date: No data</p>
    {% endif %}
    <form action="/meter/{{ meter.id }}/delete">
        <td><input method="post" type="submit" value="Delete" ></td>
    </form>
    <form action="/meter/{{ meter.id }}/update">
        <td><input method="post" type="submit" value="Edit" ></td>
    </form>
</div>
<div style="border:2px solid gray; margin:10px; padding:10px">
    <p>Upload readings from CSV file</p>
    <form action="/meter/{{ meter.id }}/file-upload" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="csv_file">
        <input type="submit" value="Upload">
    </form>
</div>
<div style="border:2px solid gray; margin:10px; padding:10px">
    <h4>Meter readings</h4>
        {% if readings %}
        <div id="container"></div>
            <script src="https://code.highcharts.com/highcharts.src.js"></script>
            <script>
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: '{{meter.name}}'
                },
                xAxis: {
                    categories: [
                    // 'test1', 'test2', 'test3', 'test4', 'test5'
                        {% for r in readings %}
                            '{{ r.date }}'{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    ]
                },
                yAxis: {
                min: 0,
                title: {
                    text: '{{ meter.unit }}'
                }
                },
                series: [{
                    name: 'Consumption',
                    data: [
                    // 56, 37, 100, 90,74
                        {% for r in readings %}
                           {{ r.relative_value }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    ]
                }]
            });
            </script>
            <form action="/meter/{{ meter.id }}/readings-delete">
                <input method="post" type="submit" value="Delete readings" >
            </form>
        {% else %}
        <p>Records not found</p>
        {% endif %}
</div>
{% endblock %}