{% extends 'app_meter/base.html' %}

{% block content %}
<div style="margin:10px; padding:10px">
<a href="/">To the list of all meters</a>

<h2>{{meter.name}}</h2>
        <form action="/meter/{{ meter.id }}/delete">
        <td><input method="post" type="submit" value="Delete" ></td>
    </form>
    <form action="/meter/{{ meter.id }}/update">
        <td><input method="post" type="submit" value="Edit" ></td>
    </form>
</div>
<div style="border:2px solid gray; margin:10px; padding:10px">
    <table width="100%">
        <tbody>
        <tr>
             <td>
                 <b>Resource</b> {{meter.resource}}
            </td>
            <td>
                <b>Unit</b> {{meter.unit}}
            </td>
        </tr>
        <tr>
             <td>
            {% if readings %}
                <b>Last readings:</b> {{readings.last.absolute_value}}
            {% else %}
                <b>Last readings:</b> No data
            {% endif %}
            </td>
            <td>
            {% if readings %}
                <b>Last readings date:</b> {{readings.last.date}}
            {% else %}
                <b>Last readings date:</b> No data
            {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div style="margin:10px; padding:10px">
    <h2>Upload readings from CSV file</h2>
</div>
<div style="border:2px solid gray; margin:10px; padding:10px">
    <form action="/meter/{{ meter.id }}/file-upload" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="csv_file">
        <input type="submit" value="Upload">
    </form>
</div>
<div style="margin:10px; padding:10px">
    <h2>Meter readings</h2>
</div>
<div style="border:2px solid gray; margin:10px; padding:10px">

        {% if readings %}
        <div id="container"></div>
            <script src="https://code.highcharts.com/highcharts.src.js"></script>
            <script>
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: '{{meter.name}}'
                },
                xAxis: {
                    categories: [
                    // 'test1', 'test2', 'test3', 'test4', 'test5'
                        {% for r in readings %}
                            '{{ r.date }}'{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    ]
                },
                yAxis: {
                min: 0,
                title: {
                    text: '{{ meter.unit }}'
                }
                },
                series: [{
                    name: 'Consumption',
                    data: [
                    // 56, 37, 100, 90,74
                        {% for r in readings %}
                           {{ r.relative_value }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    ]
                }]
            });
            </script>
            <form action="/meter/{{ meter.id }}/readings-delete">
                <input method="post" type="submit" value="Delete readings" >
            </form>
        {% else %}
        <p>Records not found</p>
        {% endif %}
</div>
{% endblock %}