{% extends 'app_meter/base.html' %}

{% block content %}
<h4>Meter detail</h4>
<p>Name {{meter.name}}</p>
<p>Unit {{meter.unit}}</p>
<p>Resource {{meter.resource}}</p>
{% if records %}
    <p>Last reading: {{records.last.absolute_value}}</p>
    <p>Last reading date: {{records.last.date}}</p>
{% else %}
    <p>Last reading: No data</p>
    <p>Last reading date: No data</p>

{% endif %}

<h4>Meter readings</h4>
<table>
    <thead>
    <tr>Absolute value</tr>
    <tr>Relative value</tr>
    <tr>Date</tr>
    </thead>
    <tbody>
    {% if records %}
        {% for record in records %}
            <tr>
                <td>{{ record.absolute_value }}</td>
                <td>{{ record.relative_value }}</td>
                <td>{{ record.date }}</td>
            </tr>
        {% endfor %}
    {% else %}
    <p>Records not found</p>
    {% endif %}
    </tbody>
</table>
{% endblock %}