{% extends 'app_meter/base.html' %}

{% block content %}
<h4>Meters list</h4>
<table>
    <thead>
        <tr>Meter name</tr>
    <tr>Unit</tr>
    <tr>Resource</tr>
    </thead>
    <tbody>
    {% for item in meters %}
        <tr>
            <td><a href="meter/{{ item.id }}">{{ item.name }}</a></td>
            <td>{{ item.unit }}</td>
            <td>{{ item.resource }}</td>
            <td><input method="post" type="submit" value="Delete" ></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="meter/create">Create new meter</a>
{% endblock %}